visualization-gremlin {
    .network-container-parent {
        position: relative;
        #network-container {
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            position: absolute;
            width: 100%;
            height: auto;
            min-height: 500px;
            border: 1px solid lightgray;
        }
    }
}