visualization-networkx {
    .actions {
        margin-bottom: 5px;
        .filterInput {
            display: inline-flex;
            width: 200px;
        }
    }
    .network-container-parent {
        position: relative;
        #networkx-container {
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            position: absolute;
            width: 100%;
            height: auto;
            min-height: 400px;
            border: 1px solid lightgray;
        }
    }
}